[package]
# Manganese is a rusting catalyst. Manganis makes it faster to collect rust assets (and has almost no google search results)
name = "manganis"
version.workspace = true
authors = ["Evan Almloff"]
edition = "2021"
description = "Ergonomic, automatic, cross crate asset collection and optimization"
license = "MIT OR Apache-2.0"
repository = "https://github.com/DioxusLabs/manganis/"
homepage = "https://dioxuslabs.com"
keywords = ["assets"]

[lib]

[dependencies]
manganis-macro = { path = "./macro", version = "0.3.0-alpha.0" }
dioxus-core = { version = "0.5.0", optional = true }

[workspace]
package.version = "0.3.0-alpha.0"
members = ["macro", "common", "cli-support", "test-package", "test-package/test-package-dependency", "test-package/test-package-nested-dependency"]

[features]
default = []
html = []
url-encoding = ["manganis-macro/url-encoding"]
